<!-- <div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button (click)="addChanges()">Changes</button>
            <app-server-element *ngFor="let serverElement of serverElements" [name]="serverElement.name">
                <p>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div> -->
<button (click)="startGame()">Start Game</button>
<div *ngFor="let game of games; let i = index" [attr.data-index]="i">
    {{game.name}}
</div>
<!-- <app-game-control></app-game-control> -->
<!-- <app-even [name]="name"></app-even>
<app-odd></app-odd> -->