<div class="container">
    <br>
    <br>
    <h1 class="vr-bold">Verifikasi Nomor Handphone</h1>
    <br>
    <p class="text-center">
        Silahkan masukkan nomor telopon anda, untuk Registrasi, atau Login Aplikasi
    </p>
    <br>
    <form class="form-inline phone-check">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">+62</div>
                        <input type="text" class="form-control" placeholder="Masukkan Nomor Handphone">
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            <button class="btn btn-warning" (click)="SendOtp()"><i class="fa fa-mail"></i>SMS</button>&nbsp;
                            <button class="btn btn-success"><i class="fa fa-mail"></i>Whatsapp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>